@media (min-width: 650px) {

    .vehicle-table {
        width: auto;
        margin: 0 10px 30px 9px;
    }

    .vehicle-table__heading {
        display: block;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 23px;
        letter-spacing: -.6px;

        &::before {
            content: "";
            position: relative;
            left: 1px;
            top: 1px;
            display: inline-block;
            height: 18px;
            width: 3px;
            margin-right: 11px;
            background-color: rgb(139, 148, 151);
        }
    }
}

@media (min-width: 978px) {

    .vehicle-table{
        margin-bottom: 50px;
    }

    .vehicle-table__heading {
        margin-top: 155px;
    }
}