include vehicle-table__heading
include vehicle-table__head-item
include vehicle-table__name
include vehicle-table__year
include vehicle-table__color
include vehicle-table__status
include vehicle-table__price
include vehicle-table__delete
