@media (max-width: 320px) {

    .table__row {
        grid-template-columns: 57px 83px auto 92px;
    }
    
    .table__name {
        margin-right: 0;

    }

}

@media (min-width: 420px) {

    .table__row {
        grid-template-columns: 57px auto 80px 92px;
    }

    .table__name {
        margin-right: 0;
    }
}

@media (min-width: 515px) {

    .table__row {
        display: grid;
        grid-template-columns: 140px 35px auto 90px 90px 75px;
        grid-template-rows: 40px;
        grid-auto-rows: 40px;
        width: 100%;
        padding: 19px 30px 16px 18px;
    }

    .table__name,
    .table__delete {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .table__year,
    .table__color,
    .table__status,
    .table__price,
    .table__delete {
        align-self: center;
    }

    .table__name {
        align-self: center;
        margin-top: 0;

        & > span {
            display: inline-block;
            width: 100%;
        }
    }

    .table__bonus {
        grid-column-start: 1;
        grid-column-end: 5;
        order: 7;
        margin-top: 0;

        & ~ .table__year,
        & ~ .table__status,
        & ~ .table__delete {
            margin-top: 0;
        }
    }

    .table__year {
        order: 2;
        justify-self: center;
    }

    .table__color {
        order: 3;
    }

    .table__status {
        order: 4;
    }

    .table__price {
        order: 5;
        justify-self: start;
    }

    .table__delete {
        order: 6;
    }
}

@media (min-width: 600px) {

    .table__row {
        grid-template-columns: auto 35px 60px 90px 90px 75px;
    }

    .table__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table__bonus {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 650px) {

    .table__header {
        display: grid;
        grid-template-columns: 252px auto auto 90px 90px 75px;
        grid-template-rows: 45px;
        padding: 0 30px 0 18px;
        background-color: rgb(196, 9, 47);
        border-radius: 5px 5px 0 0;
    }

    .table__head-item {
        display: block;
        justify-self: left;
        align-self: center;
        text-transform: capitalize;

        &:nth-child(2),
        &:nth-child(3) {
            justify-self: center;
        }
    }

    .table__row {
        grid-template-columns: 252px auto auto 90px 90px 75px;
    }

    .table__bonus {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}