.table__row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 57px 103px auto 91px;
    grid-template-rows: 40px 35px;
    grid-auto-rows: 45px;
    width: 100%;
    padding: 18px 30px 17px 18px;
    background-color: rgb(245, 246, 246);
    border-top: 1px solid rgb(152, 152, 152);
}