.form-select__dummy-inp {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 13px 9px 11px;
    text-decoration: none;
    border: 1px solid rgb(220, 220, 220);
    border-bottom-width: 2px;

    &::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 15px;
        border: 6px solid transparent;
        border-top-color: black;
    }
}