@media (min-width: 978px) {

    .form-select__item {

        & > span {
            cursor: pointer;
            transition: color .2s ease 0s;
        }

        & > span:hover {
            color: rgb(17, 17, 17);
        }
    }
}

@media (min-width: 1280px) {

    .form-select__dummy-inp {
        transition: border-color .2s ease 0s;
        
        &:hover {
            border-bottom-color: rgb(196, 9, 47);
        }
    }
}