mixin logo
    picture.logo
        source(srcset=`${imgDir}/logo/logo_desktop.png`, type="image/png", media="(min-width: 514.9px)")
        source(srcset=`${imgDir}/logo/logo_mobile.png`, type="image/png")
        img(src=`${imgDir}/logo/logo_desktop.png`, title="Captain Quack", alt="Captain Quack")