mixin logo
    picture(class="logo")
        source(srcset=`${imgDir}/logo/logo_desktop.png` type="image/png" media="(min-width: 1600.1px)")
        source(srcset=`${imgDir}/logo/logo_mobile.png` type="image/png" media="(min-width: 1200px)")
        img(class="logo" src=`${imgDir}/logo/logo_desktop.png` title="Captain Quack" alt="Captain Quack")