@media (max-width: 320px) {
    
    .vehicle-form__submit {
        padding-left: 12%;
    }
}

@media (min-width: 420px) {
    .vehicle-form__submit {
        text-align: center;
        padding-left: 0;
    }
}