mixin vehicle-form__label(id, name)
    if (name === 'colors')
        label(
            class="text_font_RoboR text_size_12px text_color_lightgray vehicle-form__label",
            for=id
        ) цвет
    else
        label(
            class="text_font_RoboR text_size_12px text_color_lightgray vehicle-form__label",
            for=id
        )=name