@font-face {
  font-family: "RobotoL";
  src: url(fontDir/Roboto-Light.ttf); }

.text_font_RoboL {
  font-family: "RobotoL", sans-serif;
  font-weight: 300; }

@font-face {
  font-family: "RobotoR";
  src: url(fontDir/Roboto-Regular.ttf); }

.text_font_RoboR {
  font-family: "RobotoR", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "RobotoM";
  src: url(fontDir/Roboto-Medium.ttf); }

.text_font_RoboB {
  font-family: "RobotoM", sans-serif;
  font-weight: 500; }

@font-face {
  font-family: "RobotoB";
  src: url(fontDir/Roboto-Bold.ttf); }

.text_font_RoboB {
  font-family: "RobotoB", sans-serif;
  font-weight: 700; }

.text_color_black {
  color: #282d30; }

.text_color_gray {
  color: #999999; }

.text_color_lightgray {
  color: #8b9497; }

.text_color_white {
  color: white; }

.text_size_11px {
  font-size: 11px; }

.text_size_12px {
  font-size: 12px; }

.text_size_13px {
  font-size: 13px; }

.text_size_14px {
  font-size: 14px; }

.text_size_15px {
  font-size: 15px; }

.text_size_16px {
  font-size: 16px; }

.text_size_20px {
  font-size: 20px; }

.text_size_40px {
  font-size: 40px; }

.header {
  width: 100%;
  background-color: #282d30;
  padding-top: 13px; }

.logo {
  display: block;
  width: 297px;
  margin: 0 4%; }

.welcome {
  margin: 28px 0 5px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.2px; }

.vehicle-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  padding: 0 11px 0 9px; }

.vehicle-form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 8px;
  border: 1px solid gainsboro;
  border-bottom-width: 2px;
  outline: none; }
  .vehicle-form__input:placeholder-shown {
    color: #999999;
    text-transform: capitalize; }

.vehicle-form__radio > .vehicle-form__input {
  width: auto;
  opacity: 0; }

.vehicle-form__label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 6px;
  padding-left: 10px;
  text-transform: capitalize;
  visibility: hidden; }

.vehicle-form__wrapper:nth-child(5) > .vehicle-form__label {
  margin-bottom: 10px;
  visibility: visible; }

.vehicle-form__radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin: 0 21px 4px 0;
  border: 0px solid transparent;
  border-radius: 50%;
  -webkit-transition: border-width .3s ease 0s, margin .3s ease 0s;
  transition: border-width .3s ease 0s, margin .3s ease 0s; }
  .vehicle-form__radio:nth-child(2) {
    background-color: white;
    border: 1px solid gainsboro; }
  .vehicle-form__radio:nth-child(3) {
    background-color: black; }
  .vehicle-form__radio:nth-child(4) {
    background-color: #999999; }
  .vehicle-form__radio:nth-child(5) {
    background-color: #d74345; }
  .vehicle-form__radio:nth-child(6) {
    background-color: #88c504; }

.vehicle-form__radio_checked {
  margin: -7px 18px 0 -5px;
  border: 4px solid #c4092f; }

.vehicle-form__radio:nth-child(2).vehicle-form__radio_checked {
  margin: -3px 18px 0 -3px;
  border: 4px solid #c4092f; }

.vehicle-form__submit {
  width: 100%;
  padding: 11px 0 12px 26px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  background-color: #c4092f;
  border-radius: 4px;
  outline: none; }
  .vehicle-form__submit::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 0 2px 6px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.vehicle-form__wrapper {
  position: relative;
  margin-top: 11px; }
  .vehicle-form__wrapper:first-child {
    width: 100%; }
  .vehicle-form__wrapper:nth-child(2) {
    width: 47%; }
  .vehicle-form__wrapper:nth-child(3) {
    width: 47%; }
  .vehicle-form__wrapper:nth-child(4) {
    width: 100%; }
  .vehicle-form__wrapper:nth-child(5) {
    width: 100%;
    margin-top: 17px; }
  .vehicle-form__wrapper:nth-child(6) {
    width: 47%;
    margin-top: 25px; }
  .vehicle-form__wrapper:last-child {
    width: 47%;
    margin-top: 25px; }

.form-select__dummy-inp {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px 8px;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid gainsboro;
  border-bottom-width: 2px; }
  .form-select__dummy-inp::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 15px;
    border: 6px solid transparent;
    border-top-color: black; }

.form-select__list {
  position: absolute;
  top: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid gainsboro;
  border-top-width: 2px;
  background-color: white;
  padding: 0 9px 9px;
  opacity: 0;
  -webkit-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s; }

.form-select__list_visible {
  border-top-color: black;
  opacity: 1; }

.form-select__item {
  list-style-type: none;
  padding: 7px 0 2px; }

.vehicle-table {
  width: 100%;
  margin-top: 55px; }

.vehicle-table__heading {
  display: none; }

.table {
  width: 100%; }

.table__header {
  display: none; }

.table__head-item {
  display: none; }

.table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%; }

.table__row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 57px 103px auto 92px;
  grid-template-rows: 40px 35px;
  grid-auto-rows: 45px;
  width: 100%;
  padding: 19px 30px 16px 18px;
  background-color: #f5f6f6;
  border-top: 1px solid #989898; }

.table__name {
  grid-column-start: 1;
  grid-column-end: 3;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: -2px 20px 0 0; }

.table__bonus {
  grid-column-start: 1;
  grid-column-end: 5;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-top: 7px;
  line-height: 1; }
  .table__bonus > span::before {
    content: "+ "; }

.table__color {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.table__color_white {
  height: 19px;
  width: 19px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 50%; }

.table__color_black {
  height: 19px;
  width: 19px;
  background-color: #282d30;
  border-radius: 50%; }

.table__color_gray {
  height: 19px;
  width: 19px;
  background-color: #999999;
  border-radius: 50%; }

.table__color_cherry {
  height: 19px;
  width: 19px;
  background-color: #d74345;
  border-radius: 50%; }

.table__color_grass {
  height: 19px;
  width: 19px;
  background-color: #88c504;
  border-radius: 50%; }

.table__price {
  grid-column-start: 4;
  grid-column-end: 5;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  justify-self: end; }

.table__year {
  grid-column-start: 1;
  grid-column-end: 2;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  -ms-flex-item-align: center;
  align-self: center; }

.table__bonus ~ .table__year {
  margin-top: 10px; }

.table__status {
  grid-column-start: 2;
  grid-column-end: 3;
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
  -ms-flex-item-align: center;
  align-self: center; }

.table__bonus ~ .table__status {
  margin-top: 10px; }

.table__delete {
  grid-column-start: 4;
  grid-column-end: 5;
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
  justify-self: end;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: -10px;
  padding: 0 10px;
  height: 28px;
  background-color: #282d30;
  border: none;
  border-radius: 15px;
  outline: none; }

.table__bonus ~ .table__delete {
  margin-top: 10px; }

.footer {
  width: 100%;
  background-color: #282d30;
  padding: 42px 0 37px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

.copyright > span:first-child {
  text-transform: uppercase; }
