mixin copyright
    .copyright
        span(class="text_font_RoboL text_color_white text_size_11px") &copy; 2015 Captain Quack
        span(class="text_font_RoboL text_color_white text_size_11px") Десница тысячелетия и моллюск!