-
    var vehicleForm = {
        name: { type: 'text', id: 'name', name: 'название' },
        price: { type: 'text', id: 'price', name: 'цена' },
        year: { type: 'text', id: 'year', name: 'год' },
        description: { type: 'text', id: 'desc', name: 'описание' },
        colors: { type: 'radio', id: 'color', name: 'colors', count: 5 },
        selection: { name: 'Статус', options: ['В наличии', 'Ожидается', 'Нет в наличии'] }
    };

    var vehiclesHeader = ['название', 'год', 'цвет', 'статус', 'цена'];

    var vehicles = {
        vehicle1: {
            name: '1.6 MT Ambiente 85&nbsp;л.с. МКПП',
            bonus: 'доп. опция &laquo;Радио-навигационная система Amundasen 2DIN, CD, MP3&raquo;',
            year: 2012,
            color: 'black',
            status: 'Ожидается',
            price: '1&nbsp;689&nbsp;000&nbsp;руб.'
        },
        vehicle2: {
            name: '1.6 MT Ambiente Plus 105&nbsp;л.с. МКПП',
            year: 2012,
            color: 'white',
            status: 'Ожидается',
            price: '1&nbsp;189&nbsp;900&nbsp;руб.'
        },
        vehicle3: {
            name: '1.6 MT Trend 105&nbsp;л.с. МКПП',
            year: 2012,
            color: 'black',
            status: 'В наличии',
            price: '1&nbsp;459&nbsp;000&nbsp;руб.'
        },
        vehicle4: {
            name: '1.6 PowerShift Trend Sport 105&nbsp;л.с. АКПП',
            year: 2012,
            color: 'gray',
            status: 'Ожидается',
            price: '1&nbsp;459&nbsp;000&nbsp;руб.'
        },
        vehicle5: {
            name: '2.0 MT Trend Sport 150&nbsp;л.с. МКПП',
            year: 2012,
            color: 'cherry',
            status: 'Ожидается',
            price: '786&nbsp;000&nbsp;руб.'
        },
        vehicle6: {
            name: '2.0 PowerShift Trend Sport 150&nbsp;л.с. АКПП',
            bonus: 'доп. опция &laquo;Радио-навигационная система Amundasen 2DIN, CD, MP3&raquo;',
            year: 2013,
            color: 'grass',
            status: 'Нет в наличии',
            price: '821&nbsp;000&nbsp;руб.'
        },
    }

include header/header
include content/content
include footer/footer
include logo/logo
include copyright/copyright
include welcome/welcome
include vehicle-form/vehicle-form
include vehicle-table/vehicle-table

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title WayToStart-test-task
        link(rel="stylesheet", type="text/css", href=`./css/styles${devMode ? '' : '.min'}.css`)
    body.body
        +header
            +logo
        +content
            +welcome
            +vehicle-form(vehicleForm)
            +vehicle-table(vehiclesHeader, vehicles)
        +footer
            +copyright
        script(src=`${jsDir}/scripts${devMode ? '' : '.min'}.js`)        