include header/header
include content/content
include footer/footer
include logo/logo
include copyright/copyright
include welcome/welcome
include vehicle-form/vehicle-form
include vehicle-table/vehicle-table

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title WayToStart-test-task
    body
        +header
            +logo
        +content
        +footer